name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with: { java-version: '17', distribution: 'temurin' }
      - name: Build
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease
      - name: Upload
        uses: actions/upload-artifact@v4
        with: { name: StealthModule, path: app/build/outputs/apk/release/*.apk }
